html{
font-family: 'Great Vibes', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Source Serif 4', serif;
font-family: 'Tajawal', sans-serif;
       }
body{
    background-color: rgb(9, 9, 54);
}
h1{
    color: rgb(235, 177, 20);
    font-size: 18px;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(11, 14, 182);
}
h2{
    color: rgb(235, 177, 20);
    text-shadow: 1px 1px 1px black;
    font-size: 16px;
    text-align: center;
}
h3{
    color: rgb(248, 104, 116);
    text-shadow: 1px 1px 1px black;
    font-size: 14px;
    text-align: center;
    
}
p{
    color: white;
    font-size: 10px;
    text-align: justify;
    text-indent: 1em;
 }

.fonte{
 font-family: 'Great Vibes', cursive;}

 .fontapre{
font-family: 'Great Vibes', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Source Serif 4', serif;
font-family: 'Tajawal', sans-serif;
 }
 .fontapre p{
    color:rgb(11, 221, 221);
     }

.imgp1{
    max-width: 8em;
    width: 6em;
    height: 6em;
    border-radius: 50%; 
    float: left;
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
   }

   .imgp1:hover{
    transform: scale(1.1);
    transition: transform 0.6s ease-in-out;
   }

   .imgp2{
    max-width: 8em;
    width: 6em;
    height: auto;
    border-radius: 5px;
    float: left;
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
   }
   .imgp2:hover{
    transform: scale(1.1);
    transition: transform 0.6s ease-in-out;}

   .imgpp{ 
    max-width: 8em;
    width: 1em;
    height: auto;
    margin:auto;  
    float: left;
   }


.imgm{
    max-width: 100%;
    width: 250px;
    height: 200px;
    margin: auto;
    margin-left: 10%;
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
   }
   .imgm:hover{
    transform: scale(1.1);
    transition: transform 0.6s ease-in-out;}


.divprincipal{
    max-width: 90em;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.divprincipal div{
    width: 97%;
    height: auto;
    margin:8px;
}

    .button {
        background-color: rgb(9, 9, 201); 
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: auto;
        margin-left: 30%;
        cursor: pointer;
        padding: 10px 14px;
        border-radius:8px;
    border: 1px solid rgb(235, 177, 20) ;
        transform: scale(1);
    transition: transform 0.6s ease-in-out;}

    .button:hover {background-color: rgb(3, 3, 58);
        transform: scale(1.1);
        transition: transform 0.6s ease-in-out;}

    
   
      

    .header nav{
    text-align: center;
    margin:auto;   
    }

.imgtopo{
    max-width: 8em;
    width: 6em;
    height: 6em;
    margin:2em 2em 1em 8em;   
    border-radius: 50%;        
     }

     .logo{
    max-width: 4em;
    width: 1em;
    height: auto;
    margin:auto; 
    opacity: 0.5;
            }
.menu{
    background-color: rgb(5, 5, 136);
    text-align: center;
   
}

ul{
    margin:0;    
}

.menu ul{
    list-style-type: none;
    padding: 0;
    letter-spacing: .2em;
    font-size: .8em;
}
.menu a{
    color:white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
      
}
.menu a:hover{
    background-color: rgb(1, 1, 48);
}

footer {
        position:relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:bisque;
        }
    
footer p{
    color:blue;
    font-family: sans-serif;
    font-size: 8px;
    text-align: center;
        
   }

footer a{
        text-decoration:none;
        font-family: sans-serif;
        color: rgb(31, 18, 204);
        
}
footer img{
max-width: 80%;
width: 30px;
height: 30px;
}

.clock {
    background-color: #090325;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .time {
    color: #fff;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin: 0;
  }

    /*telas maiores*/
@media screen and (min-width:48em){
    .header{
        display: flex;
        justify-content:space-between;
        align-items: center;        
    }
    .imgtopo{
        max-width: 100%;
        height: 9em;
        width: 9em;        
       margin:1px auto 1px 600px;
       border radius: 50%;}
            
    
    .menu ul{
        font-size: .9em;
        margin-right: 2em;
        margin-left: 3em;
        font-family: sans-serif;
       
          }
    .menu li{
        display:inline-block;
        text-align: center;
                         
    }
    .header a{
        border-radius: 5px;}

        .menu a:hover{
        background-color: rgb(4, 4, 61);
      
}

h1{
    font-size: 2.5em;
}
h2{
    font-size: 1.8em;
}
h3{
    font-size: 1.5em;
    }
p{
    font-size: 1.2em;
     text-align: center;
    }
   
    .fontapre p{
        font-size: 1.2em;
        text-align: justify;
    }
   footer {
        position:relative;
        left: 0;
        bottom: 0;
        width: 100%;
        
       
}
    
footer p{
    /*font-family: sans-serif;*/
    font-size: 12px;
    text-align: center;
    
   }

footer a{
        text-decoration:none;
        /*font-family: sans-serif;*/
              
}
footer img{
max-width: 80%;
width: 30px;
height: 30px;
}

.button{
    font-size: .8em;
    display:flex;
    justify-content:center;
    margin-left: 38%;
    max-width: 20%;
    padding: 10px 20px;
    border-radius:8px;
    text-align: center;
          }

    .imgp1{
    max-width: 100%;
    width: 8em;
    height: 8em;
    border-radius: 50%; 
    float: left;}
    
   

   .imgp2{
    max-width: 100%;
    width: 8em;
    height: auto;
    border-radius: 5px;
    float: left;
   }
   
.imgm {
    max-width: 100%;
    width: 300px;
    height: auto;
    float: center;
margin: 1% 0 1% 0;}
}